<h1 class="text-center mt-3">
  Url Shortener
</h1>
<form action="/shortURL" method="POST" class="needs-validation">
  <div class="d-flex flex-column mb-3">
    <label for="originalUrl"></label>
    <input
      type="url"
      name="originalUrl"
      id="originalUrl"
      class="form-control mb-3 .bg-light.bg-gradient"
      placeholder="input url here"
      required
    />
    <div class="invalid-feedback">
      Please provide URL.
    </div>
    <button type="submit" class="btn btn-info mb-3">
      Shorten
    </button>
  </div>
</form>
<button class="btn btn-success">
  <a href="/shortURL">
    查看
  </a>
</button>