<h1 class="text-center mt-3">
  Url Shortener
</h1>
<div class="alert alert-info" role="alert">
  <span class="mr-2">
    Shorten URL:
  </span>
  {{#if url}}
    <h2>
      Success! Please use this link:
    </h2>
    <a
      href="/shortURL/{{randomString}}"
      target="_blank"
      id="copyUrlInput"
      style="display: block;"
    >
      {{randomUrl}}
    </a>

    <button onclick="copyToCliBoard()" class="btn btn-secondary mt-3">
      複製連結
    </button>
  {{/if}}
</div>
<button class="btn btn-success">
  <a href="/">
    返回
  </a>
</button>
<button class="btn btn-info">
  <a href="/shortURL">
    查看
  </a>
</button>

<script src="/javascripts/copyToCliBoard.js" defer></script>