<h1 class='text-center mt-3'>Url Shortener</h1>
<div class='alert alert-info' role='alert'>
	<span class='mr-2'>Shorten URL:</span>
	{{#if url}}
		<h2>Success! Please use this link:</h2>
		<a href='{{defaultUrl}}{{short}}'>{{defaultUrl}}{{short}}</a>
	{{/if}}
</div>
<button class='btn btn-success'><a href='/'>返回</a></button>
<button class='btn btn-info'><a href='/shortUrl'>查看</a></button>